
.nav-item span {
  font-size: 19px !important;   
  font-weight: 700 !important;   
  display: inline-block;
  line-height: 1.2;
}


.nav-item i {
  font-size: 20px !important;
  margin-right: 10px;
}


.user-name {
  font-size: 22px !important;
  font-weight: 800 !important;
  color: #083b78 !important;
  display: block;
  text-align: center;
  margin: 15px 0;
}


.nav-item {
  display: flex !important;
  align-items: center;
  padding: 12px 15px !important;
  background-color: transparent !important; 
  color: #333 !important;
  transition: all 0.3s ease;
  text-decoration: none;
}