.main-wrapper {
  background-color: #ffffff;
  padding: 20px;
  min-height: auto; 
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.pftitle {
  background-color: #e0e0e0;
  color: #333;
  
  width: 1850px; 
  height: 85px; 
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin: 0; 
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.pftitle h2 {
  font-size: 26px; 
  margin: 0;
  font-weight: 700;
}

.card-container {
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  
  width: 1850px; 
  margin: 0;
  padding: 30px; 
  box-sizing: border-box;
  margin-bottom: 20px; 
}

.teller-header {
  background-color: #3b3b3b;
  color: white;
  padding: 18px 25px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.teller-text {
  font-weight: bold;
  font-size: 20px; 
}


.indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 3px solid white;
  border-top: 3px solid white;
  transition: transform 0.3s ease;
}

.icon-chevron-up {
  transform: rotate(-45deg); 
}

.icon-chevron-down {
  transform: rotate(135deg); 
}

.table-content {
  border: 1px solid #ddd;
  border-top: none;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  padding: 18px; 
  font-size: 18px; 
  font-weight: bold;
  border-bottom: 1px solid #eee;
  color: #333;
  text-align: left;
}

.data-table th.col-count {
  text-align: center;
}

.data-table td {
  padding: 18px; 
  font-size: 18px;
  color: #444;
}

.col-date {
  width: 50%;
  padding-left: 100px !important; 
}

.even-row {
  background-color: #f4e7e7;
}

.col-count {
  text-align: center; 
  width: 30%;
}

.badge {
  background-color: #717171;
  color: white;
  padding: 6px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

.total-row {
  border-top: 2px solid #ddd;
  font-weight: bold;
  height: 60px; 
}