<div class="bg-[#165273]">
  <div class="container mx-auto">
  
  </div>
</div>
 <!-- FOOTER (ALWAYS BOTTOM) -->
  <div class="bg-[#0b3b75] text-white">
    <div class="w-full flex items-center py-6">
      <div class="pl-6">
        <img 
        src="images/bank_asia_logo.jpg" 
        alt="Logo of Bank Asia PLC." 
        class="ml-3 h-[100px] w-[330px] img-responsive flogo" 
      />
      </div>
      <div class="ml-auto pr-3 text-right leading-tight">
      <p class="text-[20px] mb-[2px] flex items-center justify-end gap-2">
  <span class="w-[20px] h-[18px] flex items-center justify-center  border-white shrink-0">
    <i class="icon-phone text-[18px] text-white"></i>
  </span>
  <span class="text-white">If you encounter any problem in using this website</span>
</p>
        <p class="text-[20px]">
          For Technical Query :
          Shouravi Sharmin - Senior Software Engineer -
          <span class="font-semibold">01715027841</span> -
          shouravi&#64;bdjobs.com
        </p>

        <p class="text-[20px]">
          For General Query :
          MD Rafiqul Islam - Product Manager -
          <span class="font-semibold">01811410860</span> -
          mrafiqul&#64;bdjobs.com
        </p>
        <p class="text-[18px] opacity-80 mt-[2px]">
          Copyright © 2025 Bank Asia PLC. All rights reserved
        </p>
      </div>

    </div>
  </div>


